body > footer {
  @extend .sans;
  font-size: .8em;
  color: $footer-color;
  position: relative;
  padding-top: 2em;
  padding-bottom: 1em;
  margin-bottom: 2em;

  z-index: 1;
  p { text-align: center; }
}
